spring:
  application:
    name: user
  datasource:
    username: user-database
    password: user-database
    url: jdbc:postgresql://user-database:5432/user-service

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka
  instance:
    prefer-ip-address: true
