spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: frontend
              uri: http://frontend:3000
              predicates:
                - Host=localhost
              metadata:
                cors:
                  allowedOrigins: 'http://localhost'
                  allowedMethods:
                    - GET
                    - POST
                  allowedHeaders: '*'
            - id: keycloak
              uri: http://keycloak:8080
              predicates:
                - Host=auth.ucode.com
              metadata:
                cors:
                  allowedOrigins: "http://localhost"
                  allowedMethods:
                    - GET
                    - POST
                    - OPTIONS
                  allowedHeaders: "*"
                  allowCredentials: true
            - id: problem-service
              uri: lb://problem
              predicates:
                - Host=problem.ucode.com
                - Path=/api/**
              metadata:
                cors:
                  allowedOrigins: 'http://localhost'
                  allowedMethods:
                    - GET
                    - POST
                  allowedHeaders: '*'
            - id: submission-service
              uri: lb://submission
              predicates:
                - Host=submission.ucode.com
                - Path=/api/**
              metadata:
                cors:
                  allowedOrigins: 'http://localhost'
                  allowedMethods:
                    - GET
                    - POST
                  allowedHeaders: '*'
eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka
  instance:
    prefer-ip-address: true
