#server:
#  port: 8443
#  ssl:
#    enabled: true
#    key-store: classpath:ucode.com.p12
#    key-store-type: PKCS12
#    key-store-password: ${CERTIFICATE_PASSWORD}
#
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: frontend
              uri: http://frontend:3000
              predicates:
                - Host=ucode.com
              metadata:
                cors:
                  allowedOrigins: 'http://ucode.com'
                  allowedMethods:
                    - GET
                    - POST
                  allowedHeaders: '*'
            - id: keycloak
              uri: http://keycloak:8080
              predicates:
                - Host=auth.ucode.com
            - id: problem-service
              uri: lb://problem
              predicates:
                - Host=problem.ucode.com
                - Path=/api/**
              metadata:
                cors:
                  allowedOrigins: 'http://ucode.com'
                  allowedMethods:
                    - GET
                    - POST
                  allowedHeaders: '*'
            - id: submission-service
              uri: lb://submission
              predicates:
                - Host=submission.ucode.com
                - Path=/api/**
              metadata:
                cors:
                  allowedOrigins: 'http://ucode.com'
                  allowedMethods:
                    - GET
                    - POST
                  allowedHeaders: '*'
eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka
  instance:
    prefer-ip-address: true
