spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: problem-service-tags
              uri: lb://problem
              predicates:
                - Path=/api/*/tags/**
            - id: problem-service-problems
              uri: lb://problem
              predicates:
                - Path=/api/*/problems/**
              metadata:
                cors:
                  allowedOrigins: 'http://localhost:3000'
                  allowedMethods:
                    - GET
                    - POST
                  allowedHeaders: '*'
            - id: submission-service-submissions
              uri: lb://submission
              predicates:
                - Path=/api/*/submissions/**
            - id: submission-service-languages
              uri: lb://submission
              predicates:
                - Path=/api/*/languages/**
eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka
  instance:
    prefer-ip-address: true
